# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Environment variables and secrets
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Logs and database files
*.log
*.db

# Virtual environment directories
env/
venv/

# Node.js modules (if applicable)
node_modules/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

